.login-text {
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(45deg, #00c6ff, #0072ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    letter-spacing: 5px;
}