.wrap-post {

    .ant-card-meta-avatar { 
        display: flex;
        align-items: center;
    }

    .ant-card-meta-title {
        margin-bottom: 0 !important;
    }
}

.wrap-comment {
    display: flex;
}