.community-chats {
    padding: 0 8px;

    .title {
        font-size: 16px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color:#a5a8ac;
        margin-bottom: 8px;
    }
}

.side-home-left {
    position: fixed;
    min-height: 100%;
    left: 0;
}

.side-home-right {
    position: fixed;
    min-height: 100%;
    right: 0;
}