.community-chats {
    color: #000;
    padding: 16px;
    background: #fff;
}

.side-home-left {
    position: fixed;
    min-height: 100%;
    left: 0;
}

.side-home-right {
    position: fixed;
    min-height: 100%;
    right: 0;
}